@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Lato;
  color: #333333;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 1362) and (min-width: 1079.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1079.98px) and (min-width: 991.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) and (min-width: 479.98px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  html {
    font-size: 12px;
  }
}

body {
  background: url("../img/bg.png") no-repeat;
  background-position: right top;
  background-size: contain;
}

h1 {
  font-size: 3.125rem;
  font-weight: bold;
  font-family: Raleway;
  color: #333333;
}

h2 {
  font-size: 2.125rem;
  font-weight: 600;
  font-family: Raleway;
  color: #333333;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Raleway;
  color: #333333;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: Roboto;
  color: #333333;
}

.font-rw-sm {
  font-family: Raleway;
  font-size: 0.625rem;
  font-weight: bold;
}

.font-rw-md {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
}

.font-rw-lg {
  font-family: Raleway;
  font-size: 1.125rem;
  font-weight: 600;
}

.font-rw-lg-md {
  font-family: Raleway;
  font-size: 1.125rem;
  font-weight: 500;
}

.font-ro-sm {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 174%;
}

.font-ro-sm-md {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 174%;
}

.font-ro-md {
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 174%;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  max-width: 1362px;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1079.98px) and (min-width: 991.98px) {
  .container {
    max-width: 991.98px;
  }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
  .container {
    max-width: 767.98px;
  }
}

@media (max-width: 767.98px) and (min-width: 479.98px) {
  .container {
    max-width: 479.98px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 319.98px;
  }
}

.btn {
  border-radius: 50px;
  text-transform: uppercase;
  border: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 3.125rem 4.125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3.125rem 4.125rem rgba(0, 0, 0, 0.3);
}

.green-link {
  color: #4BEE6F;
}

.blue-link {
  color: #1FF0D7;
}

.header {
  margin-top: 27px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  margin-right: 1.5rem;
  position: relative;
}

.nav__link::after {
  content: attr(data-word);
  display: block;
  width: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  color: #4BEE6F;
}

.nav__link:nth-child(5) {
  padding-left: 1.5rem;
  border-left: 1px solid #fff;
}

.nav__link:nth-child(5)::after {
  left: 1.5rem;
}

.nav__link:hover::after {
  width: 100%;
}

@media (max-width: 479.98px) {
  .nav__link {
    margin-right: .5rem;
  }
  .nav__link:nth-child(5) {
    padding-left: .5rem;
  }
  .nav__link:nth-child(5)::after {
    left: .5rem;
  }
}

@media (max-width: 767.98px) and (min-width: 479.98px) {
  .nav__link {
    margin-right: 1rem;
  }
  .nav__link:nth-child(5) {
    padding-left: 1rem;
  }
  .nav__link:nth-child(5)::after {
    left: 1rem;
  }
}

.nav__btn {
  padding: .5rem 1.25rem;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__btn .font-rw-sm {
  color: #fff;
  position: relative;
  z-index: 1;
}

.nav__btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4BEE6F;
}

.nav__btn:hover {
  border-color: #4BEE6F;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media (max-width: 1079.98px) {
  .nav {
    background: -webkit-gradient(linear, right top, left top, from(#6d678e), to(#f6b5cc));
    background: -webkit-linear-gradient(right, #6d678e 0%, #f6b5cc 100%);
    background: -o-linear-gradient(right, #6d678e 0%, #f6b5cc 100%);
    background: linear-gradient(-90deg, #6d678e 0%, #f6b5cc 100%);
    border-radius: 50px;
    padding: 1rem 0;
  }
}

.title {
  margin-top: 12rem;
}

.title__btn {
  padding: 1rem 4.5rem;
  background-color: #1FF0D7;
  color: #fff;
  -webkit-box-shadow: 0 3.125rem 3.125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3.125rem 3.125rem rgba(0, 0, 0, 0.3);
}

.title p {
  color: rgba(51, 51, 51, 0.5);
  margin: 1.5rem 0 2rem;
}

.title .col {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 468px;
  margin: 0;
}

.services {
  margin-top: 15rem;
}

.services__img {
  width: 200px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__item {
  max-width: 206px;
  text-align: center;
}

.services__item h4 {
  margin-bottom: 1rem;
}

.services__item p {
  color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 767.98px) {
  .services__container {
    overflow: hidden;
  }
  .services__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    width: 100%;
  }
}

.pyromids {
  margin-top: 4.5rem;
  background: #F3F3F3;
  padding: 4rem 0;
}

.pyromids__ico {
  width: 45px;
  height: 45px;
}

.pyromids__img {
  max-width: 50%;
}

.pyromids .col {
  max-width: 420px;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.pyromids .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pyromids h2 {
  margin: 1rem 0 2rem;
}

.pyromids p {
  margin-bottom: 1.25rem;
}

@media (max-width: 767.98px) {
  .pyromids__img {
    display: none;
  }
}

.wide {
  padding: 4rem 0;
}

.wide__ico {
  width: 45px;
  height: 45px;
}

.wide__img {
  max-width: 50%;
}

.wide .col {
  max-width: 420px;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wide .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wide h2 {
  margin: 1rem 0 2rem;
}

.wide p {
  margin-bottom: 1.25rem;
}

@media (max-width: 767.98px) {
  .wide__img {
    display: none;
  }
}

.helped {
  padding: 5rem 0 4.5rem;
  background: #F3F3F3;
}

.helped__img {
  margin: 3rem 0 4rem;
}

.helped__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  min-height: 117px;
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(153, 151, 151, 0.5);
          box-shadow: 0 0.625rem 1.25rem rgba(153, 151, 151, 0.5);
  background: #fff;
  padding: 1rem;
  margin-right: 1rem;
}

.helped__item img {
  width: 100%;
}

.helped .col {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.helped__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767.98px) {
  .helped__container {
    overflow: hidden;
    -webkit-box-shadow: 0 0.625rem 1.25rem rgba(153, 151, 151, 0.5);
            box-shadow: 0 0.625rem 1.25rem rgba(153, 151, 151, 0.5);
  }
  .helped__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .helped__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    width: 100%;
    margin-right: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 2rem;
  }
}

.payment {
  padding: 5.5rem 0;
  background: url("../img/bg-5.png") no-repeat;
  background-position: bottom;
}

.payment__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1FF0D7;
  padding: 1.25rem 0;
  color: #fff;
  max-width: 350px;
  width: 100%;
  -webkit-box-shadow: 0 3.125rem 3.125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3.125rem 3.125rem rgba(0, 0, 0, 0.3);
}

.payment .col {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.payment .col h3 {
  margin-bottom: 2.325rem;
}

.payment .col:first-child p:nth-child(3) {
  margin: 5rem 0px 3.5rem;
}

.payment .col:last-child {
  margin-top: 23rem;
}

.payment .col:last-child h3, .payment .col:last-child p {
  color: #fff;
}

.payment .col:last-child p:nth-child(2) {
  margin-bottom: 3.5rem;
}

@media (min-width: 1362px) {
  .payment {
    background-size: cover;
  }
}

.footer {
  padding: 96px 0 0;
}

.footer__block {
  margin-bottom: 20px;
}

.footer__social {
  margin-right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .col {
  margin-right: 1.5rem;
}

.footer .col .font-rw-lg {
  position: relative;
  margin-bottom: 5rem;
}

.footer .col .font-rw-lg::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  background-color: #00A692;
}

.footer .col .font-rw-lg-md {
  margin-bottom: 20px;
}

.footer .col:nth-child(4) {
  max-width: 320px;
  width: 100%;
}

.footer .col:nth-child(4) .font-rw-lg-md {
  margin-bottom: 5px;
}

.footer .col:nth-child(5) .font-rw-lg-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer {
  background-color: #F3F3F3;
  margin-top: 6rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer__btn {
  font-family: Raleway;
  font-size: 1.5rem;
  border-radius: 0;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  background: #4BEE6F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer__btn img {
  margin-left: 5px;
}
